
@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');

body{
    margin: 0;
}
h1{
    margin: 10px 0 10px 25px;
    font-family: "Dynalight";
    color: blueviolet;
}

.nav, a{
    display:flex;
    justify-content: space-around;
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    text-align: center;
    padding:15px 25px 15px 25px;
    flex-wrap: wrap;
}
a:hover{
    border-radius: 100px;
    background-color: rgba(189, 195, 199, 0.5);
}
.Dogs{
    color: white;
    padding-top: 250px;
    text-align: center;
  margin: 0 auto;
}
.img{
    background-image: url(https://cdn.britannica.com/79/232779-050-6B0411D7/German-Shepherd-dog-Alsatian.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.imgs{
    display:flex;
    gap: 20px;
    text-align: center;
    margin: auto 0;
   justify-content: center;
}  
.avalible{
    text-align: center;
    color: blueviolet;
}
p{
    width: 200px;
    margin: auto;
}
img{
    height: 200px;
}

@media (max-width: 768px) {   
    .nav, a{
        display:flex;
        justify-content: space-around;
        text-decoration: none;
        color: white;
        background-color: blueviolet;
        text-align: center;
        padding:15px 25px 15px 25px;
        flex-direction: column;
    }
    .imgs{
        display: flex;
        gap: 20px;
        text-align: center;
        margin: auto 0 ;
        flex-direction: column;
    }
   
}
@media (max-width: 1000px) { 
    .nav, a{
        display:flex;
        justify-content: space-around;
        text-decoration: none;
        color: white;
        background-color: blueviolet;
        text-align: center;
        padding:15px 25px 15px 25px;
        flex-wrap: wrap;
    }
    .imgs{
        display:flex;
        gap: 20px;
        text-align: center;
        margin: auto 0;
       justify-content: center;
       flex-wrap: wrap;
    } 
 
}